// Tablets chicas y telefonos grandes
$screen-sm-min: 576px;

// Tablets chicas
$screen-md-min: 768px;

// Tablets normales y escritorios chicos
$screen-lg-min: 992px;
$screen-lg-max: 991px;

// Tablets y escritorios grandes
$screen-xl-min: 1300px;

// Tablets y escritorios grandes
$screen-xxl-min: 1400px;

// Chico
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Mediano
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Grande
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
@mixin under-lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// Extra grande
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Extra extra grande
@mixin xxl {
  @media (min-width: #{$screen-xxl-min}) {
    @content;
  }
}
