// Basicos
$color-yellow: #fcb02f;
$color-red: #eb3926;
$color-green: #9aa636;
$color-muted-blue: #87a8c7;

// Utilidades
$color-cta: #ff9d15;
$color-dark-text: #282828;
$color-light-grey: #f8f8f8;

// Variaciones
$color-light-yellow: #fff6eb;
$color-light-red: #fdeeec;
$color-light-green: #f6f7e8;
$color-light-blue: #f8fafc;
