@font-face {
  font-family: "Fugaz";
  src: url("../tipografia/FugazOne-Regular.woff2") format("woff2"),
    url("../tipografia/FugazOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Bungee";
  src: url("../tipografia/BungeeSpice-Regular.woff2") format("woff2"),
    url("../tipografia/BungeeSpice-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Bungee Shade";
  src: url("../tipografia/BungeeShade-Regular.woff2") format("woff2"),
    url("../tipografia/BungeeShade-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
