@import "reset";
@import "tipografia";
@import "breakpoints";
@import "colores";

body {
  background-image: url(../imagenes/nube.png), url(../imagenes/nube.png),
    url(../imagenes/fondo-test-v3.gif);
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: top, bottom right, top center;
  background-size: 100%, 100%, cover;
  font-family: "Raleway", sans-serif;
  color: $color-dark-text;
  background-attachment: fixed;
  @include md {
    background-position: bottom right, top -300px center, top center;
    background-size: 60%, 100%, cover;
  }
  &.curso {
    background-image: url(../imagenes/fondo-test-v3.gif);
    background-size: cover;
  }
  &.podcast {
    background-image: url(../imagenes/nube.png), url(../imagenes/nube.png),
      url(../imagenes/fondo-test-v3.gif);
    background-position: left -100px center, right -200px center, center;
    background-size: 30%, 70%, cover;
  }
}

.wrapper {
  max-width: 1160px;
  padding-inline: 30px;
  margin-inline: auto;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 20;
  &.open {
    background-color: $color-muted-blue;
    @include lg {
      background-color: transparent;
    }
  }
}

.wrapper-header {
  padding: 20px;
  @include lg {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    @include lg {
      left: 50px;
    }
  }
  // &.open {
  //   align-items: flex-start;
  // }
  @include md {
    padding: 20px 50px;
  }
}

.navegacion-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
  @include lg {
    display: none;
  }
}

.navegacion {
  display: none;
  font-family: "Bungee", sans-serif;
  text-align: center;
  &.open {
    display: block;
    margin-top: 80px;
    @include lg {
      margin-top: 0;
    }
  }
  a {
    text-decoration: none;
    color: $color-dark-text;
  }
  li {
    padding: 12px 0;
  }
  li > ul {
    padding-top: 10px;
  }
  li > ul li {
    padding: 4px 0;
  }
  @include lg {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 74px;
    li {
      margin-left: 30px;
    }
    li > ul {
      padding-top: 0;
    }
  }

  .etiqueta-menu {
    display: flex;
    justify-content: center;
    @include lg {
      // pointer-events: none;
      justify-content: flex-start;
    }
    img {
      margin-left: 5px;
    }
  }
  .item-con-submenu {
    position: relative;
    padding: 12px 0;
    cursor: pointer;
    // @include lg {
    //   pointer-events: none;
    // }
  }
  ul.sub-menu {
    display: none;
    &.open {
      display: block;
      @include lg {
        position: absolute;
        top: 100%;
        background-color: white;
        padding: 20px;
        border-radius: 4px;
        z-index: 10;
        text-align: right;
        right: 0;
        width: 290px;
        li {
          margin-left: 0;
        }
      }
    }
  }
  // @include lg {
  //   .item-con-submenu:hover {
  //     ul.sub-menu {
  //       display: block;
  //       position: absolute;
  //       top: 100%;
  //       background-color: white;
  //       padding: 20px;
  //       border-radius: 4px;
  //       // margin-top: 10px;
  //       z-index: 10;
  //       text-align: right;
  //       right: 0;
  //       width: 290px;
  //       li {
  //         margin-left: 0;
  //       }
  //       // li + li {
  //       //   margin-top: 10px;
  //       // }
  //     }
  //   }
  // }
}

.sub-menu {
  li a {
    opacity: 0.85;
    &:hover {
      opacity: 1;
    }
  }
}

.curso-seguridad-digital {
  background-color: $color-muted-blue;
}

.call-to-action {
  background-color: $color-cta;
  padding: 12px 24px;
  border-radius: 4px;
  display: inline-block;
  // margin-top: 30px;
  @include lg {
    margin-top: 0;
  }
}

.hero-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  .logo-hero {
    z-index: 5;
  }
  h2 {
    font-family: "Fugaz", sans-serif;
    font-size: 24px;
    max-width: 300px;
    margin: 60px 0;
    @include lg {
      max-width: 490px;
    }
  }
}

.opciones-seguridad-digital {
  display: flex;
  flex-direction: column;
  @include lg {
    flex-direction: row;
  }
  .opcion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .opcion + .opcion {
    margin-top: 1em;
    @include lg {
      margin-top: 0;
    }
  }
}

.boton-regular {
  background-color: $color-yellow;
  font-family: "Bungee", sans-serif;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  margin-top: 20px;
  text-decoration: none;
  color: $color-dark-text;
  display: inline-block;
}

.como-cuidar {
  background-color: $color-yellow;
  width: 100%;
  position: relative;
  margin-block: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: "Bungee Shade", sans-serif;
    font-size: 32px;
    text-align: center;
    padding: 0.5em;
    max-width: 765px;
    line-height: 1;
    margin-inline: auto;
    @include lg {
      font-size: 48px;
    }
  }
  &::before {
    content: "";
    background-image: url(../imagenes/papel-rasgado-hero.svg);
    position: absolute;
    width: 100%;
    height: 100%;
    top: -40px;
    background-repeat: repeat-x;
  }
  &::after {
    content: "";
    background-image: url(../imagenes/papel-rasgado-hero.svg);
    rotate: 180deg;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -40px;
    background-repeat: repeat-x;
  }
}

.tipos-de-violencia-home {
  background-color: $color-muted-blue;
  background-image: url(../imagenes/imagen-mano.png);
  background-position: center;
  background-size: 200%;
  background-repeat: no-repeat;
  position: relative;
  padding: 3em 0 6em;
  z-index: 1;
  margin-top: 2em;
  .wrapper {
    @include lg {
      display: grid;
      grid-template-columns: auto auto;
    }
  }
  .cards {
    @include lg {
      justify-items: end;
      display: flex;
      // .card-tipos-de-violencia:nth-child(1) {
      //   margin-left: auto;
      // }
      .card-tipos-de-violencia:nth-child(2) {
        margin-left: 16px;
      }
    }
  }
  @include lg {
    background-position: right -120px center;
    background-size: 700px;
  }
  &::before {
    content: "";
    background-image: url(../imagenes/papel-rasgado-tipos-de-violencia-top.svg);
    position: absolute;
    width: 100%;
    height: 76px;
    top: -70px;
    background-repeat: repeat-x;
    z-index: 2;
  }
  &::after {
    content: "";
    background-image: url(../imagenes/papel-rasgado-tipos-de-violencia-bottom.svg);
    position: absolute;
    width: 100%;
    height: 21px;
    bottom: -15px;
    background-repeat: repeat-x;
    z-index: 2;
  }
}

.tipos-de-violencia-home {
  .titulo {
    .textito {
      font-family: "Fugaz", serif;
      font-size: 24px;
      color: white;
    }
    h2 {
      font-family: "Bungee", serif;
      font-size: 42px;
      margin-bottom: 30px;
      line-height: 1.1;
      a {
        text-decoration: none;
        color: #282828;
      }
      @include lg {
        font-size: 64px;
      }
      em {
        font-style: normal;
        display: block;
        @include lg {
          font-size: 48px;
        }
      }
    }
  }
}

.card-tipos-de-violencia {
  display: flex;
  flex-direction: column;
  padding: 10px 12px 16px;
  background-color: white;
  max-width: 242px;
  color: $color-dark-text;
  text-decoration: none;
  .imagen {
    margin-bottom: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      position: absolute;
      z-index: 2;
      opacity: 0;
      transition: all 400ms ease-in-out;
      translate: 50px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(white, 0);
      z-index: 1;
      transition: all 400ms ease-in-out;
    }
  }
  .imagen:hover {
    &::after {
      background-color: rgba(white, 0.75);
    }
    span {
      opacity: 1;
      translate: 0;
    }
  }
  .texto {
    font-family: "Bungee", serif;
    font-size: 22px;
    text-transform: uppercase;
    color: $color-dark-text !important;
  }
}

.card-tipos-de-violencia + .card-tipos-de-violencia {
  margin-top: 20px;
  @include lg {
    margin-top: 0;
  }
}

.podcast-home {
  min-height: 600px;
  background-image: url(../imagenes/fragmento-picos.svg),
    url(../imagenes/imagen-monte.png);

  background-size: 50%, cover;
  background-position: bottom -20px right -120px, center;
  background-repeat: no-repeat;
  padding-block: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.podcast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(white, 0.75);
  border-radius: 8px;
  padding: 24px 32px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  @include lg {
    flex-direction: row;
  }
  .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      display: block;
      @include lg {
        margin-bottom: 10px;
      }
    }
    @include lg {
      align-items: flex-start;
      padding-right: 50px;
    }
    h2 {
      font-size: 48px;
      text-align: center;
      font-family: "Bungee", serif;
      line-height: 1;
      margin-bottom: 16px;
      @include lg {
        text-align: left;
      }
      em {
        font-size: 24px;
        font-style: normal;
        @include lg {
          display: block;
        }
      }
    }
  }
  .imagen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      position: absolute;
      z-index: 2;
    }
  }
}

.curso-seguridad-digital {
  padding: 100px 0;
  background-image: url(../imagenes/imagen-manos.png);
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 100%;
  @include md {
    padding-bottom: 160px;
  }
  &.curso-interior {
    position: relative;
    &::before {
      content: "";
      background-image: url(../imagenes/fragmento-picos.svg);
      background-repeat: no-repeat;
      width: 318px;
      height: 85px;
      position: absolute;
      z-index: 10;
      top: -80px;
      left: 0;
    }
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include lg {
    background-size: 100%;
  }
  .card-curso {
    margin-bottom: 60px;
    @include lg {
      display: flex;
      max-width: 900px;
    }
  }
  .imagen {
    max-width: 240px;
    @include lg {
      max-width: unset;
      order: 2;
    }
  }
  .texto {
    max-width: 440px;
    // @include lg {}
    h2 {
      font-family: "Bungee";
      font-size: 48px;
      @include lg {
        font-size: 64px;
        order: 1;
      }
      em {
        font-style: normal;
        font-size: 24px;
        font-family: "Bungee";
        display: block;
      }
    }
    p {
      margin-top: 16px;
      // margin-bottom: 24px;
      @include lg {
        margin-bottom: 0;
        line-height: 24px;
      }
    }
  }
}

.footer {
  background-image: url(../imagenes/flor-roja.png),
    url(../imagenes/flor-roja.png);
  background-position: bottom -44px left -16px, bottom -19px right;
  background-size: 90px, 50px;
  background-repeat: no-repeat;
  @include lg {
    background-image: url(../imagenes/flor-roja.png),
      url(../imagenes/flor-roja.png), url(../imagenes/flor-roja.png),
      url(../imagenes/flor-roja.png);
    background-size: 175px, 90px, 121px, 230px;
    background-position: left 60px top 45px, left 336px top 130px,
      right 350px top 100px, right 10px top 20px;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      padding: 70px;
    }
  }
}

.titulo-interior {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  h1 {
    line-height: 1;
    font-size: 42px;
    color: white;
    font-family: "Bungee";
    @include lg {
      font-size: 64px;
    }
  }
}

.titulo-interior {
  min-height: 350px;
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  .wrapper {
    max-width: 800px;
    position: relative;

    img {
      display: none;
    }
  }
  &.phishing {
    background-color: $color-red;
    .texto {
      order: 2;
    }
    @include lg {
      img {
        display: inline-block;
        order: 1;
      }
    }
  }
  &.passwords {
    background-color: $color-green;
    @include lg {
      img {
        display: inline-block;
      }
      .texto {
        text-align: center;
      }
    }
  }
  &.whatsapp {
    background-color: $color-yellow;
    @include lg {
      padding-top: 100px;
      padding-bottom: 50px;
      img {
        order: 1;
        display: inline-block;
      }
    }
    .texto {
      order: 2;
      text-align: center;
    }
  }
  &.violencia-home {
    background-color: $color-muted-blue;
    @include lg {
      padding-top: 180px;
      padding-bottom: 120px;
      img {
        display: inline-block;
        position: absolute;
        right: -250px;
      }
    }
  }
  &.violencia-tipos,
  &.violencia-que-hacer {
    background-color: $color-muted-blue;
    padding-top: 120px;
    @include lg {
      padding-top: 100px;
      img {
        display: inline-block;
      }
    }
  }
  &.curso,
  &.podcast {
    .wrapper {
      @include lg {
        min-width: 800px;
      }
    }
  }
  &.curso {
    .indicador-seccion {
      font-family: "Bungee";
      font-size: 32px;
    }
    @include lg {
      padding-top: 150px;
      .texto {
        max-width: 450px;
        margin-right: auto;
      }
      img {
        display: inline-block;
        position: absolute;
        bottom: -80px;
        right: -120px;
      }
    }
  }
  &.podcast {
    @include lg {
      padding-top: 100px;
      img {
        display: inline-block;
      }
    }
  }
}

.layout-interior {
  position: relative;
  background-color: white;
  padding: 50px 0;
  &::before {
    content: "";
    background-image: url(../imagenes/papel-rasgado-interiorv2.svg);
    background-repeat: repeat-x;
    position: absolute;
    top: -40px;
    height: 48px;
    width: 100%;
  }
}

.layout-interior {
  .wrapper {
    max-width: 800px;
  }
  h2 {
    font-family: "Bungee";
    font-size: 32px;
    line-height: 1;
    margin-bottom: 1em;
    margin-top: 0.5em;
    @include lg {
      font-size: 42px;
      margin-bottom: 1.25em;
      margin-top: 0;
    }
  }
  h3 {
    font-family: "Fugaz";
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 16px;
  }
  p {
    line-height: 24px;
  }
  p + p {
    margin-top: 16px;
  }
}

.indicador-seccion {
  font-family: "Fugaz";
  font-size: 18px;
  margin-bottom: 8px;
  display: inline-block;
  color: white;
  @include lg {
    font-size: 24px;
  }
}

// Utilidades

.aside {
  padding: 32px 28px;
  margin-block: 40px;
  ul {
    margin-left: 20px;
    li {
      list-style-type: disc;
      line-height: 150%;
    }
    li + li {
      margin-top: 16px;
    }
  }
  p + ul {
    margin-top: 20px;
  }
  ul + p {
    margin-top: 20px;
  }
  h4 {
    margin: 20px 0 10px;
  }
  ul li > ul {
    margin-top: 8px;
    li {
      list-style: circle;
    }
    li + li {
      margin-top: 8px;
    }
  }
}

.aside.bg-phishing {
  img {
    margin: 24px auto;
  }
}

.color-phishing {
  color: $color-red;
}
.color-whatsapp {
  color: $color-yellow;
}
.color-passwords {
  color: $color-green;
}
.color-violencia {
  color: $color-muted-blue;
}

.bg-phishing {
  background-color: $color-light-red;
}
.bg-whatsapp {
  background-color: $color-light-yellow;
}
.bg-passwords {
  background-color: $color-light-green;
}
.bg-violencia {
  background-color: $color-light-blue;
  padding-block: 40px;
  h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
  .sub-section + .sub-section {
    margin-top: 30px;
  }
  .sub-section {
    ul {
      margin-left: 20px;
      margin-top: 20px;
      list-style: disc;
      li {
        line-height: 160%;
      }
      li + li {
        margin-top: 8px;
      }
    }
  }
  @include lg {
    padding-block: 80px;
  }
}
.bg-gris {
  background-color: $color-light-grey;
}

.divisor-phishing {
  border-top: 1px solid $color-red;
  margin-block: 40px;
}
.divisor-whatsapp {
  border-top: 1px solid $color-yellow;
  margin-block: 40px;
}

.lead {
  font-size: 20px;
  line-height: 160%;
  margin-bottom: 32px;
}

ul.lista-interior {
  list-style: disc;
  li {
    margin-left: 20px;
    margin-bottom: 8px;
    line-height: 150%;
  }
}

.layout-interior {
  a:link,
  a:active,
  a:visited {
    color: #03529c;
    font-weight: bold;
  }
}

.secciones-violencia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @include lg {
    flex-direction: row;
  }
  > a {
    margin-inline: 1em;
  }
}

.tipo-de-violencia {
  padding: 36px 0;
  font-size: 18px;
  h4 {
    font-weight: 700;
    margin-bottom: 16px;
  }
}

.tipo-de-violencia:nth-child(even) {
  background-color: $color-light-grey;
}

.regular-section {
  padding-block: 40px;
  @include lg {
    padding-block: 80px;
  }
  ul {
    margin-left: 20px;
    margin-top: 20px;
    list-style: disc;
    li {
      line-height: 150%;
    }
    li + li {
      margin-top: 8px;
    }
  }
}

.layout-interior {
  .podcast {
    padding-block: 32px;
    @include lg {
      padding-block: 64px;
      display: flex;
      .imagen {
        order: 2;
        flex-shrink: 0;
      }
      .texto {
        order: 1;
        h2 {
          margin-bottom: 0.5em;
          a {
            color: $color-dark-text;
            text-decoration: none;
          }
        }
        p {
          max-width: 450px;
        }
      }
    }
  }
}

p.lead-curso {
  font-size: 24px;
  line-height: 34px;
}

.sub-seccion-curso {
  margin-top: 40px;
  padding-block: 40px;
  margin-bottom: -50px;
  ol {
    margin: 0 20px;
    padding: 0;
  }
  li + li {
    margin-top: 16px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .imagen {
      margin-inline: auto;
    }
    @include md {
      flex-direction: row;
      .imagen {
        order: 2;
      }
      .texto {
        order: 1;
      }
    }
  }
  @include lg {
    padding-block: 80px;
    .wrapper {
      display: flex;
      gap: 30px;
      .imagen {
        flex-shrink: 0;
      }
    }
  }
  .acciones {
    margin-top: 36px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    @include sm {
      flex-direction: row;
    }
    a.boton-crear-cuenta,
    a.boton-ingresar {
      font-family: "Bungee";
      padding: 12px 24px;
      text-decoration: none;
      border-radius: 4px;
      text-align: center;
    }
    a.boton-crear-cuenta {
      background-color: $color-muted-blue;
      border: 1px solid $color-muted-blue;
      color: white;
    }
    a.boton-ingresar {
      color: $color-muted-blue;
      border: 1px solid $color-muted-blue;
    }
  }
}
