<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="{{'/css/estilos.css' | url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="{% if 'curso' in page.url %}curso{%elif 'podcast' in page.url%}podcast{%endif%}"
  >
    <div class="header"><nav>{% include "partials/header.html" %}</nav></div>
    <main tabindex="-1" class="main-content" id="contenido-primario">
      {% block content %} {% endblock %}
    </main>
    {% if 'curso' not in page.url and 'podcast' not in page.url %} {% include
    "partials/curso.html" %} {% endif %}
    <div class="footer">{% include "partials/footer.html" %}</div>
  </body>

  <script src="{{ '/js/app.js' | url }}"></script>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://matomo.tedic.org/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '104']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
</html>
