{% extends "layouts/base.html" %} {% block content %}
<div
  class="titulo-interior {% if 'phishing' in page.url %}phishing{%elif 'contrasenas' in page.url%}passwords{%elif 'whatsapp' in page.url%}whatsapp{%elif 'que-es' in page.url%}violencia-home{%elif 'tipos-de-violencia' in page.url%}violencia-tipos{%elif 'que-hacer' in page.url%}violencia-que-hacer{%elif 'curso' in page.url%}curso{%elif 'podcast' in page.url%}podcast{%endif%}"
>
  <div class="wrapper">
    <div class="texto">
      <span class="indicador-seccion">{{ hero.seccion }}</span>
      <span class="icono-podcast"></span>
      {% if hero.icono %}<img src="{{ hero.icono }}" alt="Icono" />{%endif%}
      <h1>{{ hero.titulo }}</h1>
    </div>
    <img src="{{ hero.imagen }}" alt="{{ hero.imagenAlt }}" />
  </div>
</div>
<div class="layout-interior">{{ content | safe }}</div>
{% endblock %}
