---
titulo: Nos cuidamos online | Curso de Seguridad Digital
layout: "layouts/interior.html"
permalink: "/curso/"
hero:
  titulo: Seguridad Digital
  seccion: Curso de
  imagen: "/imagenes/curso-interior.png"
  imagenAlt: "Curso de Seguridad Digital"
---

<div class="wrapper">
  <p class="lead-curso">
    Bienvenida a la presentación del curso auto-administrado para activistas y
    defensores de derechos humanos.
  </p>
  <p>
    El objetivo es que cada persona y organización sea capaz de crear su propio
    modelo de amenazas para así reducir riesgos e impactos de posibles ataques
    en el entorno digital.
  </p>
  <p>
    El tiempo que cada persona debería dedicar para hacer este curso es de 20
    horas. Se recomienda dedicar 2 horas por día y realizar las evaluaciones
    correspondientes.
  </p>
  <p>
    Al final del curso y si has completado las diferentes evaluaciones, podrás
    tener acceso a un certificado.
  </p>
</div>

<div class="full-width-section bg-gris sub-seccion-curso">
  <div class="wrapper">
    <div class="imagen">
      <img
        src="{{'/imagenes/instrucciones-curso.png'}}"
        alt="Pantallas de registro para el Curso de Seguridad de Digital"
      />
    </div>
    <div class="texto">
      <ol>
        <li>Lo primero que debes hacer para participar es crear una cuenta</li>
        <li>
          Luego ya podrás matricularte en el curso, para lo que vas a necesitar
          una clave de matriculación (Debes pedirla en tu grupo de referencia
          que trabaja con Tedic).
        </li>
        <li>Por último, ya podrás ingresar al curso.</li>
      </ol>
      <div class="acciones">
        <a
          href="https://cursos.tedic.org/login/signup.php"
          target="_blank"
          class="boton-crear-cuenta"
          >Crear cuenta</a
        >
        <a
          href="https://cursos.tedic.org/course/view.php?id=2"
          target="_blank"
          class="boton-ingresar"
          >Ingresar</a
        >
      </div>
    </div>
  </div>
</div>
