---
titulo: Nos cuidamos online | Seguridad Digital | Contraseñas Seguras
layout: "layouts/interior.html"
permalink: "/seguridad-digital/contrasenas-seguras.html"
hero:
  titulo: Contraseñas Seguras
  imagen: "/imagenes/paloma-blanca.svg"
  imagenAlt: "Contraseñas Seguras"
---

<div class="wrapper">
  <h2>Protejamos nuestros espacios colectivos en línea</h2>

  <p>
    Ale es activista y milita en una organización que lucha por los derechos de
    las mujeres en Bolivia. Este año le toca manejar todas las redes sociales y
    canales de mensajería del colectivo: Facebook, Instagram, Twitter, Telegram
    y WhatsApp. Como son muchas cuentas a manejar y encima Ale, que es
    ciberactivista y tiene sus propias redes sociales, decidió usar la misma
    contraseña para todas las cuentas que administra (una práctica bastante
    común, pero también así muy insegura). Un día, una de las páginas en las que
    Ale estaba suscrita, sufrió una filtración de datos, y su contraseña se hizo
    pública su contraseña. Como Ale utilizaba la misma contraseña para todo, el
    atacante pudo acceder a las cuentas en redes sociales de su organización.
  </p>
  <p>
    Una adecuada política de contraseñas es fundamental para proteger la
    seguridad digital de una organización. Muchas veces tenemos malas prácticas,
    como repetirlas o hacerlas demasiado cortas. Hay muchas bases de datos con
    información personal que se han vuelto públicas y por eso es muy importante
    diversificarlas.
  </p>
  <p>
    Utiliza esta herramienta para comprobar que tu dirección de correo puede
    haber sido parte de una filtración de datos:
    <a href="https://monitor.firefox.com" target="_blank"
      >https://monitor.firefox.com</a
    >
  </p>

  <div class="aside bg-passwords">
    <h3>¿Cómo puedo diversificar y crear contraseñas seguras?</h3>
    <p>Aquí te presentamos 4 consejos para crear contraseñas fuertes:</p>
    <ul>
      <li>
        Que estas no tengan datos de conocimiento público asociados a tu
        persona. Ej: no pongas tu año de nacimiento, tu nombre, tu fecha de
        cumpleaños, etc.
      </li>
      <li>Es recomendable que sean largas (Mínimo 10 carácteres)</li>
      <li>
        Tus contraseñas deberían ser únicas (esto significa evitar repetir
        contraseñas en diferentes plataformas o servicios)
      </li>
      <li>Renovar nuestras contraseñas cada cierto tiempo.</li>
    </ul>

    <h4>¿Y cómo recuerdo TANTAS contraseñas?</h4>
    <p>
      Tranquila, nosotras tampoco las sabemos de memoria. Es por eso que usamos
      y recomendamos un Gestor de Contraseñas.
    </p>
    <p>
      Los gestores de contraseñas nos ayudan a almacenar las mismas de manera
      cifrada, algunos incluso nos pueden ayudar a generarlas respetando todos
      los consejos de arriba. Estos programas nos ayudan a almacenarlas de
      manera cifrada. También nos permiten generar contraseñas respetando los
      consejos de seguridad planteados arriba. Existen varios gestores, algunos
      offline y otros "en la nube". Nosotras recomendamos algunos gestores, por
      ser de software libre y contar con varias características de seguridad
      importantes.
    </p>
    <p>Nosotras recomendamos los siguientes gestores:</p>
    <ul>
      <li>
        Los offline son:
        <ul>
          <li>KeepassXC (computadora de escritorio o laptop)</li>
          <li>KeepassDX (Móvil; Android)</li>
          <li>Strongbox (Móvil; iPhone)</li>
        </ul>
      </li>

      <li>
        Los online son:
        <ul>
          <li>Bitwarden (Móvil y Web)</li>
          <li>Gestor de contraseñas de Google (web)</li>
        </ul>
      </li>
    </ul>

    <p>
      <em>
        Ten en cuenta que utilizar un gestor offline requiere encargarte de
        respaldar tus contraseñas en un lugar seguro. Por otro lado, tener un
        gestor online aumenta el riesgo de ser atacada por delincuentes. Elegir
        uno u otro método solo depende de ti y de tu organización
      </em>
    </p>

    <p>
      Finalmente, recomendamos agregar un segundo factor de autenticación, lo
      que sería un «segundo candado» . Luego de colocar tu contraseña, deberás
      hacer algo más para comprobar que eres tu.
    </p>
    <p>
      ¡Hay muchas formas de doble factor de verificación (2FA)! Las que te
      recomendamos son: correo electrónico y app móvil generadora de códigos
      (TOTP).
    </p>
  </div>
</div>
