---
titulo: Nos cuidamos online | Seguridad Digital | Phishing
layout: "layouts/interior.html"
permalink: "/seguridad-digital/phishing.html"
hero:
  titulo: Phishing
  imagen: "/imagenes/paloma-blanca.svg"
  imagenAlt: "Phishing"
---

<div class="wrapper">
  <h2>Carmen y el engaño virtual (phishing + estafa)</h2>

  <p>
    Carmen siempre estaba pendiente de los artículos, fotos y vídeos que
    compartían sus amigas en Facebook. Durante la pandemia de la COVID-19,
    Carmen quedó muy enganchada con todas las notificaciones en sus redes
    sociales y allí hizo nuevas amistades mediante ellas.
  </p>
  <p>
    Un día, Carmen recibió un mensaje de uno de sus nuevos amigos, el mensaje
    leía: "Sorteamos un iPhone 13 Pro!!! Prueba tu suerte en este enlace:
    ww.iPhoneGratisYA.bo". Emocionada, Carmen abrió el enlace en donde le
    pidieron información personal y luego procedió al supuesto sorteo virtual.
    Para su sorpresa, Carmen ganó el sorteo. En un segundo momento, la página le
    indicaba que ella debía enviar 150 pesos bolivianos a una cuenta bancaria y
    así asegurar su premio para luego ir a una dirección en El Alto a retirarlo.
  </p>
  <p>
    Carmen decidió enviar los 150 pesos bolivianos e ir al lugar que le
    indicaron. Una vez en El Alto, Carmen pide ayuda a una mujer jóven para
    encontrar la dirección a donde debía ir a retirar el premio. Al ver el
    mensaje, esta mujer se dió cuenta que Carmen había sido engañada y había
    perdido los 150 pesos bolivianos.
  </p>

  <div class="aside bg-phishing">
    <h3>¿Qué pudo haber hecho Carmen para no caer en este tipo de estafas?</h3>
    <p>
      El caso de Carmen es una estafa proveniente de un perfil que se hacía
      pasar por "amigo" en las redes sociales de Carmen. A este tipo de ataques
      le llamamos "Phishing". Con estas técnicas se busca engañar a una persona
      para obtener información y así realizar diversos ataques, como robo de
      contraseñas, usurpación de cuentas, robo, entre otros. ¿Qué puede hacer
      Carmen ante una situación parecida en el futuro? Lo mejor sería tener más
      conocimientos sobre seguridad digital y protección de sus datos en
      entornos digitales entonces estará preparada y no volverá a caer en un
      engaño como este. Lo primero que se debe hacer al recibir un mensaje de
      este tipo es verificar el o los enlaces que lo acompañan. Los enlaces se
      componen de la siguiente manera:
    </p>
    <img
      src="{{'/imagenes/phishing-analisis-url.svg'}}"
      alt="Análisis de un enlace"
    />
  </div>

  <div class="divisor-phishing"></div>

  <div class="aside bg-gris">
    <h3>
      Las siguientes herramientas sirven para analizar enlaces sospechosos.
      Ellas te ayudarán a decidir si es buena idea o no entrar a cierta
      dirección web:
    </h3>
    <ul>
      <li>
        <a href="https://www.shouldiclick.org/" target="_blank"
          ><strong>Should I Click?</strong></a
        >
      </li>
      <li>
        <strong>URL Checker</strong>: Verificador de direcciones (Aplicación
        para los teléfonos móviles). Esta app sirve como intermediaria entre tu
        y una direccón web, puedes instalarla de manera gratuita a tu celular.
        <ul>
          <li>
            <a
              href="https://f-droid.org/en/packages/com.trianguloy.urlchecker/"
              target="_blank"
              >F-Droid</a
            >
          </li>
          <li>
            <a
              href="https://play.google.com/store/apps/details?id=com.trianguloy.urlchecker&hl=es&pli=1"
              target="_blank"
              >Android</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
