---
titulo: Nos cuidamos online | Podcasts
layout: "layouts/interior.html"
permalink: "/podcast/"
hero:
  titulo: Podcasts
  imagen: "/imagenes/podcast-interior.png"
  imagenAlt: "Podcasts"
  icono: "/imagenes/icono-auriculares-white.svg"
---

<div class="wrapper">
  <div class="podcast">
    <div class="imagen">
      <a
        href="https://cyborgfeminista.tedic.org/fracasitos-digitales/"
        target="_blank"
      >
        <img
          src="{{'/imagenes/podcast-fracasitos.png'}}"
          alt="Podcast Fracasitos Digitales"
        />
      </a>
    </div>
    <div class="texto">
      <h2>
        <a
          href="https://cyborgfeminista.tedic.org/fracasitos-digitales/"
          target="_blank"
          >Fracasitos Digitales</a
        >
      </h2>
      <p>
        Desde Radio Cyborgfeminista, les traemos una serie de 3 episodios que
        explora las dinámicas de fracasos que toman lugar en los espacios
        digitales: ese meme o mensajito de voz que sin querer enviaste al grupo
        o a la persona equivocada, ese like de esa persona que nunca recibiste,
        y que esperabas recibir, o esa cita que nunca se concretó.
      </p>
    </div>
  </div>
  <div class="podcast">
    <div class="imagen">
      <a
        href="https://cyborgfeminista.tedic.org/libres-y-segures-en-internet-serie-de-podcast-sobre-diversos-aspectos-de-la-experiencia-tlgbiq-en-linea/"
        target="_blank"
      >
        <img
          src="{{'/imagenes/podcast-libres.png'}}"
          alt="Podcast Libres y Segures en Internet"
        />
      </a>
    </div>
    <div class="texto">
      <h2>
        <a
          href="https://cyborgfeminista.tedic.org/libres-y-segures-en-internet-serie-de-podcast-sobre-diversos-aspectos-de-la-experiencia-tlgbiq-en-linea/"
          target="_blank"
          >Libres y Segures en Internet</a
        >
      </h2>
      <p>
        Serie de podcast sobre diversos aspectos de la experiencia TLGBIQ+ en
        línea. La serie de podcast «Libres y segures en internet» tiene el
        objetivo de elevar las voces y narrativas de la comunidad en relación a
        sus derechos digitales, sexuales y reproductivos
      </p>
    </div>
  </div>
  <div class="podcast">
    <div class="imagen">
      <a href="https://www.spreaker.com/user/tedic/enganche" target="_blank">
        <img
          src="{{'/imagenes/podcast-enganchados.png'}}"
          alt="Podcast Enganchados Digitales"
        />
      </a>
    </div>
    <div class="texto">
      <h2>
        <a href="https://www.spreaker.com/user/tedic/enganche" target="_blank"
          >Enganchados Digitales</a
        >
      </h2>
      <p>
        Nuestra salud mental en Internet también importa, y aún mucho más en
        estos tiempos particulares de donde a consecuencia de la llegada de
        COVID-19, las interacciones mediadas por la tecnología fueron en
        aumento. El tiempo que pasamos frente a nuestras pantallas, y cómo
        impacta en nuestros niveles de sueño, de atención, de relacionamiento, y
        en nuestro comportamiento individual y colectivo en general, están
        relacionados también a nuestra salud mental, y sin ella, simplemente no
        podemos hablar de bienestar integral de manera coherente.
      </p>
    </div>
  </div>
  <div class="podcast">
    <div class="imagen">
      <a href="https://cyborgfeminista.tedic.org/internet-magia-y-feminismo/">
        <img
          src="{{'/imagenes/podcast-magia.png'}}"
          alt="Podcast Internet, Magia y Feminismo"
        />
      </a>
    </div>
    <div class="texto">
      <h2>
        <a href="https://cyborgfeminista.tedic.org/internet-magia-y-feminismo/"
          >Internet, Magia y Feminismo</a
        >
      </h2>
      <p>
        Con el apoyo de APC, de la Agencia Sueca de Cooperación Internacional al
        Desarrollo, y en el marco de la campaña Dominemos la Tecnología,
        realizamos una serie de 3 episodios sumando voces de activistas y
        referentes latinoamericanas en el área de Derechos Digitales para hablar
        de qué pensamos sobre Facebook, qué es una Internet Feminista para
        nosotras, y sobre la Magia que se manifiesta en Internet. ¡Te invitamos
        a que los escuches! También podés acceder a los episodios en la web de
        Radio Cyborg.
      </p>
    </div>
  </div>
</div>
