---
titulo: Nos cuidamos online | Violencia de Género en Línea | ¿Qué hacer cuando sucede?
layout: "layouts/interior.html"
permalink: "/violencia-de-genero/que-hacer.html"
hero:
  titulo: ¿Qué podemos hacer?
  seccion: Violencia de Género en Línea
  imagen: "/imagenes/que-hacer-interior.png"
  imagenAlt: "¿Qué hacer cuando sucede?"
---

<div class="wrapper">
  <p class="lead">
    Para combatir a la violencia en línea, debemos abordar el problema de forma
    integral: es importante pensar desde el bienestar psico-social de las
    personas que son víctimas de violencia, así como en la capacidad de denuncia
    a través del conocimiento de las leyes nacionales e internacionales y en los
    mecanismos de respuesta con los que contamos para hacerle frente. Tomar
    control sobre nuestra información y nuestros procesos digitales, es la forma
    más subversiva de enfrentar a la violencia sistemática dirigida hacia
    mujeres y colectivos.
  </p>
</div>

<div class="full-width-section bg-violencia">
  <div class="wrapper">
    <h2>Documentar</h2>
    <div class="sub-section">
      <h3>Documentar y registrar incidentes</h3>
      <p>
        Te recomendamos documentar la agresión recibida. Esto ayuda a generar
        registros y evidencias en el caso de que las agresiones sigan
        sucediendo, ya sean del mismo o diversos perfiles. El registro implica
        tomar nota de qué sucedió, y la documentación es recopilar toda la
        información de cada incidente o ataque, para poder entender qué pasó,
        incluso después de un tiempo.
      </p>
    </div>

    <div class="sub-section">
      <h3>¿Por qué es importante contar con documentación y registro?</h3>
      <p>
        Es importante y necesario hacerlo para identificar a les agresores y/o
        tomar denunciar o reportar. Es recomendado registrar y documentar:
      </p>
      <ul>
        <li>Ataques</li>
        <li>
          Incidentes: cualquier cosa inusual que sucede en nuestras cuentas o
          dispositivos, así como también en el plano físico.
        </li>
      </ul>
    </div>

    <div class="sub-section">
      <h3>¿Cómo documentar?</h3>
      Elabora una bitácora de incidentes. Podés encontrar un ejemplo
      <a
        href="https://docs.google.com/spreadsheets/d/1H3QMP463FDF4eP4mEzWwPuGgZA8Jm5HacSdDEubZV-k/edit#gid=0"
        target="_blank"
        >acá</a
      >.
      <p>
        Organizá el almacenamiento del resto de la información, como por
        ejemplo:
      </p>
      <ul>
        <li>
          Captura de pantalla de ingresos no autorizados en donde se pueda ver
          la fecha, el dispositivo y la dirección IP
        </li>
        <li>
          Captura de pantalla de mensajes nocivos donde se pueda ver la imagen
          de perfil y la fecha
        </li>
        <li>
          Captura de pantalla de los perfiles de redes sociales, desde donde
          están agrediendo a alguien, así como la foto de perfil.
        </li>
        <li>
          Pensá en cuál es el mecanismo más seguro para mantener ese documento
          actualizado de forma segura entre las personas de la organización. Es
          recomendable también guardar respaldos del documento.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="regular-section">
  <div class="wrapper">
    <h2>¿Cómo ayudar a mis compañeras?</h2>
    <p>
      Muchas veces el episodio de violencia no nos ocurre a nosotres, sino a
      otras personas cercanas a nosotres. Es importante que ante estos casos,
      estemos preparades y sepamos cómo actuar. Te recomendamos las siguientes
      prácticas de cuidado y apoyo.
    </p>
    <ul>
      <li>Ofrecé tu apoyo</li>
      <li>
        Si estás cerca de la persona que está siendo atacada, ofrecé asistencia
        inmediata. Tené en cuenta que esta persona puede sentirse abrumada y
        puede que no tenga instrucciones claras sobre cómo ser ayudada. Debés
        permanecer tranquile, con atención activa y con paciencia. Intentá no
        agregar presiones o estrés.
      </li>
      <li>
        En el caso del doxeo —que es cuando se publica información sensible,
        detallada y abundante sobre una persona por razones maliciosas— podés
        ofrecerles un lugar seguro para quedarse (como tu hogar) si la persona
        no se siente segura.
      </li>
      <li>
        También podés ofrecer moderar sus cuentas de redes sociales u otras
        plataformas para darle un descanso en esa gestión.
      </li>
      <li>
        También podés revisar leyes y políticas nacionales y locales que sirvan
        para tratar con acoso en línea y fuera de línea, para convertir tu
        conocimiento en acciones concretas que puedan ayudar a la persona que
        está siendo atacada. Podés visitar el sitio del
        <a href="https://acoso.online/" target="_blank">proyecto acoso.online</a
        >, el cual busca proveer herramientas y conocimientos legales para
        situaciones de violencia digital, como la publicación no consentida de
        imágenes y vídeos íntimos por medios electrónicos.
      </li>
      <li>
        Hacete oír: Podés intentar alzar la voz en tus redes sobre lo que está
        ocurriendo a hablar sobre este tipo de violencias.
      </li>
    </ul>
  </div>
</div>

<div class="wrapper">
  <div class="aside bg-gris">
    <div class="secciones-violencia">
      <a
        href="{{'/violencia-de-genero/tipos-de-violencia.html' | url}}"
        class="card-tipos-de-violencia"
      >
        <div class="imagen">
          <img
            src="{{'/imagenes/13-tipos-imagen-home.jpg'}}"
            alt="13 tipos de violencia de género en línea"
          />
          <span class="boton-regular">Leer más</span>
        </div>
        <!-- cierra imagen -->
        <div class="texto">13 tipos de violencia de género en línea</div>
        <!-- cierra texto -->
      </a>
      <!-- cierra card -->
    </div>
  </div>
</div>
