---
titulo: Nos cuidamos online | Violencia de Género en Línea | 13 Tipos de Violencia
layout: "layouts/interior.html"
permalink: "/violencia-de-genero/tipos-de-violencia.html"
hero:
  titulo: 13 tipos de violencia
  seccion: Violencia de Género en Línea
  imagen: "/imagenes/13-tipos-interior.png"
  imagenAlt: "Violencia de Género En Línea"
---

<div class="wrapper">
  <h2>Tipos de violencia de género en línea</h2>
</div>

<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Acceso y control no autorizado de cuentas (hackeo)</h4>
    <p>
      Ataques no autorizados para ganar acceso a las cuentas o dispositivos de
      otres. Esto puede implicar la recopilación no autorizada de información,
      así como el bloqueo o desactivación de la cuenta de la víctima; o la
      utilización de la cuenta hackeada para ejercer comportamientos que generen
      desprestigio o desacreditación de le titular de la cuenta.
    </p>
  </div>
</div>

<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Control y manipulación de la información</h4>
    <p>
      La recopilación o robo de información puede implicar una pérdida de
      información, así como su modificación sin autorización.
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Difusión de fotos íntimas o información privada</h4>
    <p>
      Diseminar información privada (o sensible, controversial) con la intención
      de dañar la reputación.
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Doxeo</h4>
    <p>
      Investigar y difundir información que permita identificar a una persona
      sin su consentimiento, muchas veces con la intención de tener acceso o
      contacto con la persona con fines de acoso u otros fines nocivos.
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Vigilancia</h4>
    <p>
      El monitoreo constante de las actividades en línea de la persona, su vida
      diaria, o información, sea pública o privada.
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Uso de spyware</h4>
    <p>
      (software para espiar y obtener información de otros dispositivos) o
      acceso a cuentas sin el consentimiento del usuarie
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Robo de identidad/creación de perfiles falsos</h4>
    <p>
      El uso de la identidad de alguien sin su consentimiento, o la creación y
      divulgación de datos personales falsos, con la intención de dañar la
      reputación de una persona u organización.
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Borrar, enviar o manipular correos</h4>
    <p>
      Borrar, enviar o manipular correos u otro tipo de contenido sin
      consentimiento.
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Difamación y daño de la reputación</h4>
    <p>
      Difamación y daño de la reputación a través de comentarios online falsos y
      ofensivos.
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Acoso</h4>
    <p>
      Actos repetidos y no solicitados contra una persona u organización que son
      percibidos como intrusivos o amenazadores
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Ciberbullying</h4>
    <p>
      Ciber bullying y acoso repetido a través de mensajes con tono ofensivo y/o
      descalificante.
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Discurso de odio</h4>

    <p>
      Discurso que refleja modelos culturales que incitan violencia, ya sea a
      través de comentarios, insultos, o agresiones verbales.
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Amenzas</h4>
    <p>
      Discurso y contenido (verbal o escrito, en imágenes, etc.) con un tono
      agresivo y/o amenazador. Amenazas directas de violencia de cualquier
      índole.
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Comentarios Abusivos</h4>
    <p>Envío de recepción de materiales sexuales no solicitados</p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Extorsión</h4>
    <p>
      Forzar a una persona a actuar de acuerdo a la voluntad de otra persona, a
      través de amenazas e intimidación.
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Mobbing</h4>
    <p>
      Consiste en el acoso laboral ejercido tanto a una persona como a un grupo.
      Esta conducta se da tanto fuera como dentro de los espacios digitales.
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Ataques coordinados</h4>
    <p>
      Son aquellos que se realizan de manera coordinada y por más de una persona
      hacia otra, una publicación específica o una página en las redes. La
      finalidad puede ser variada:difusión de datos personales para causar
      hostigamiento y acoso, o incluso lograr la eliminación de los perfiles de
      las víctimas, crear identidades falsas para así poder esparcir
      publicaciones y noticias falsas.
    </p>
  </div>
</div>
<div class="tipo-de-violencia">
  <div class="wrapper">
    <h4>Uso de GPS</h4>
    <p>
      Uso de GPS u otros servicios de geolocalización para rastreo de
      movimientos.
    </p>
  </div>
</div>

<div class="wrapper">
  <div class="aside bg-gris">
    <div class="secciones-violencia">
      <a
        href="{{'/violencia-de-genero/que-hacer.html' | url}}"
        class="card-tipos-de-violencia"
      >
        <div class="imagen">
          <img
            src="{{'/imagenes/que-hacer-imagen-home.jpg'}}"
            alt="Qué hacer cuando sucede"
          />
          <span class="boton-regular">Leer más</span>
        </div>
        <!-- cierra imagen -->
        <div class="texto">Qué hacer cuando sucede</div>
        <!-- cierra texto -->
      </a>
      <!-- cierra card -->
    </div>
  </div>
</div>
