---
titulo: Nos cuidamos online | Violencia de Género en Línea
layout: "layouts/interior.html"
permalink: "/violencia-de-genero/que-es.html"
hero:
  titulo: Violencia de Género en Línea
  imagen: "/imagenes/imagen-mano.png"
  imagenAlt: "Violencia de Género En Línea"
---

<div class="wrapper">
  <p class="lead">
    La violencia de género digital, o en línea, refiere a actos de violencia de
    género cometidos instigados o agravados, en parte o totalmente, por el uso
    de las Tecnologías de la Información y la Comunicación (TIC) plataformas de
    redes sociales y correo electrónico. (APC 2015;
    <a
      href="https://www.genderit.org/articles/impunity-justice-exploring-corporate-and-legal-remedies-technology-related-violence-against"
      target="_blank"
      >https://www.genderit.org/articles/impunity-justice-exploring-corporate-and-legal-remedies-technology-related-violence-against</a
    >)
  </p>

  <ul class="lista-interior">
    <li>
      Uno de los primeros pasos para combatir la violencia es poder
      identificarla. Esta puede ser bastante dificil, ya que las violencias que
      vivimos las mujeres son muchas veces normalizadas en nuestros contextos.
    </li>
    <li>
      Para facilitar este proceso, las compañeras de la organización Luchadores,
      junto con SocialTIC y APC identificaron tipos de agresión de género
      relacionadas al ámbito digital.(<a
        href="https://luchadoras.mx/13-formas-violencia-linea-las-mujeres/"
        target="_blank"
        >https://luchadoras.mx/13-formas-violencia-linea-las-mujeres/</a
      >)
    </li>
  </ul>

  <div class="aside bg-gris">
    <div class="secciones-violencia">
      <a
        href="{{'/violencia-de-genero/tipos-de-violencia.html' | url}}"
        class="card-tipos-de-violencia"
      >
        <div class="imagen">
          <img
            src="{{'/imagenes/13-tipos-imagen-home.jpg'}}"
            alt="13 tipos de violencia de género en línea"
          />
          <span class="boton-regular">Leer más</span>
        </div>
        <!-- cierra imagen -->
        <div class="texto">13 tipos de violencia de género en línea</div>
        <!-- cierra texto -->
      </a>
      <!-- cierra card -->
      <a
        href="{{'/violencia-de-genero/que-hacer.html' | url}}"
        class="card-tipos-de-violencia"
      >
        <div class="imagen">
          <img
            src="{{'/imagenes/que-hacer-imagen-home.jpg'}}"
            alt="Qué hacer cuando sucede"
          />
          <span class="boton-regular">Leer más</span>
        </div>
        <!-- cierra imagen -->
        <div class="texto">Qué hacer cuando sucede</div>
        <!-- cierra texto -->
      </a>
      <!-- cierra card -->
    </div>
  </div>
</div>
