---
titulo: Nos cuidamos online | Seguridad Digital | Seguridad en Whatsapp
layout: "layouts/interior.html"
permalink: "/seguridad-digital/seguridad-whatsapp.html"
hero:
  titulo: Seguridad en Whatsapp
  imagen: "/imagenes/ojos.png"
  imagenAlt: "Seguridad en Whatsapp"
---

<div class="wrapper">
  <h2>Olga y sus problemas con WhatsApp (configuración de PIN de seguridad)</h2>

  <p>
    Olga se entera de TODO por WhatsApp. Quién se casa el mes que viene, quién
    consiguió trabajo nuevo, dónde es la siguiente protesta, etc. Ella no solo
    tiene mucho contactos, sino también forma parte de decenas de grupos de
    amigas, familia y activismo. Un día, sin notificación alguna, Olga perdió el
    acceso a su WhatsApp. Como fue en medio del día laboral, no tuvo tiempo de
    investigar lo que estaba sucediendo y dijo que lo haría al final de la
    tarde. Después de unas horas, Olga recibió una llamada de una comadre suya
    para confirmar que Olga NO era la persona manejando su WhatsApp. Olga, muy
    confundida, explicó a su amiga que perdió acceso a la aplicación aquella
    mañana y que la persona detrás de su cuenta no era ella. La comadre le
    informó que alguien haciendose pasar por Olga anda pidiendo dinero de manera
    urgente a varios contactos y grupos.
  </p>

  <div class="aside bg-whatsapp">
    <h3>¿Qué puede hacer Olga para no volver a pasar por esto?</h3>
    <p>
      En un país sin una Ley de Protección de Datos Personales como Bolivia,
      conseguir nuestros números de teléfono, nombres y hasta número de cédula
      de identidad es muy fácil. Lastimosamente, hoy día, no somos dueños de
      nuestros datos. Esto que vivió Olga podría pasarle a cualquiera de
      nosotras. Pero, ¿cuáles son los pasos a seguir? Nosotras recomendamos la
      verificación en dos pasos de WhatsApp. Esta función es opcional pero añade
      otra capa de seguridad a tu cuenta mediante el uso de una contraseña o PIN
      de 6 dígitos.
    </p>
  </div>

  <div class="divisor-whatsapp"></div>

  <div class="aside bg-gris">
    <h3>Te dejamos aquí instrucciones para habilitarla:</h3>
    <ul>
      <li>
        Abre Ajustes ---> Selecciona Cuenta ---> Selecciona Verificación en dos
        pasos ---> Aprieta Activar ---> Elige un PIN ---> Confirma tu PIN --->
        Opcional: escribe tu dirección de correo electrónico y confírmala (se
        recomienda hacerlo porque permite recuperar la cuenta más facilmente)
      </li>
      <li>
        Te recomendamos que nunca compartas tu PIN de verificación en dos pasos
        con nadie y lo dejes anotado en algun lado para que no se te olvide.
      </li>
      <li>
        Para ayudarte a recordar el PIN, WhatsApp te pedirá que lo ingreses con
        regularidad. Lamentablemente, si desactivas el recordatorio, también se
        deshabilitará la función de verificación en dos pasos.
      </li>
    </ul>
  </div>
</div>
