<div
  class="curso-seguridad-digital {% if 'index.html' not in page.url%}curso-interior{%endif%}"
>
  <div class="wrapper">
    <div class="card-curso">
      <div class="imagen">
        <img
          src="{{'/imagenes/imagen-curso-seguridad-digital.png'}}"
          alt="Curso de Seguridad Digital"
        />
      </div>
      <!-- Se cierra imagen -->
      <div class="texto">
        <h2><em>Curso de</em> seguridad digital</h2>
        <p>
          Sumate al curso auto-administrado para activistas y defensores de
          derechos humanos.
        </p>
        <a href="{{'/curso/'}}" class="boton-regular">Aprender más</a>
      </div>
      <!-- Se cierra texto -->
    </div>
    <!-- Se cierra el card del curso -->
    <!-- Se cierra texto -->
  </div>
  <!-- Se cierra wrapper -->
</div>
<!-- Se cierra seccion -->
