<div class="wrapper-header">
  <a href="{{'/index.html' | url }}" class="logo"
    ><img src="{{'/imagenes/logo.svg'}}" alt=""
  /></a>

  <ul class="navegacion">
    <li class="item-con-submenu">
      <span class="etiqueta-menu"
        >Seguridad Digital
        <img src="{{'/imagenes/down-arrow.svg'}}" alt="Indicador de menu"
      /></span>

      <ul class="sub-menu">
        <li>
          <a href="{{'/seguridad-digital/phishing.html' | url }}">Phishing</a>
        </li>
        <li>
          <a href="{{'/seguridad-digital/seguridad-whatsapp.html' | url }}"
            >Seguridad en Whatsapp</a
          >
        </li>
        <li>
          <a href="{{'/seguridad-digital/contrasenas-seguras.html' | url }}"
            >Contraseñas Seguras</a
          >
        </li>
      </ul>
    </li>
    <li class="item-con-submenu">
      <span class="etiqueta-menu"
        >Violencia de Género
        <img src="{{'/imagenes/down-arrow.svg'}}" alt="Indicador de menu"
      /></span>
      <ul class="sub-menu">
        <li>
          <a href="{{'/violencia-de-genero/que-es.html' | url }}">¿Qué es?</a>
        </li>
        <li>
          <a href="{{'/violencia-de-genero/tipos-de-violencia.html' | url }}"
            >Tipos de Violencia</a
          >
        </li>
        <li>
          <a href="{{'/violencia-de-genero/que-hacer.html' | url }}"
            >Qué hacer cuando sucede</a
          >
        </li>
      </ul>
    </li>
    <li><a href="{{'/podcast/' | url }}">Podcasts</a></li>
    <li><a href="{{'/curso/' | url }}" class="call-to-action">Curso</a></li>
  </ul>

  <div class="navegacion-toggle">
    <img src="{{'/imagenes/icono-menu.svg'}}" alt="Abrir menu" class="open" />
    <img
      src="{{'/imagenes/icono-cerrar-menu.svg'}}"
      alt="Cerrar menu"
      class="close hide"
    />
  </div>
</div>
