<div class="hero-home">
  <!-- <div class="wrapper"> -->
  <div class="logo-hero">
    <img
      src="{{'/imagenes/logo-hero.svg'}}"
      alt="Logotipo Nos cuidamos Online"
    />
  </div>
  <div class="como-cuidar">
    <h1>Cómo cuidar tu seguridad digital</h1>
  </div>
  <div class="opciones-seguridad-digital">
    <div class="opcion">
      <div class="imagen">
        <img src="{{'/imagenes/hero-phishing.svg'}}" alt="" />
      </div>
      <a
        href="{{'/seguridad-digital/phishing.html' | url }}"
        class="boton-regular"
        >Phishing</a
      >
    </div>
    <div class="opcion">
      <div class="imagen">
        <img src="{{'/imagenes/hero-whatsapp.svg'}}" alt="" />
      </div>
      <a
        href="{{'/seguridad-digital/seguridad-whatsapp.html' | url }}"
        class="boton-regular"
        >Seguridad en Whatsapp</a
      >
    </div>
    <div class="opcion">
      <div class="imagen">
        <img src="{{'/imagenes/hero-contrasenhas.svg'}}" alt="" />
      </div>
      <a
        href="{{'/seguridad-digital/contrasenas-seguras.html' | url }}"
        class="boton-regular"
        >Contraseñas Seguras</a
      >
    </div>
  </div>
  <h2>
    ¡Conoce cómo cuidar tu seguridad digital a partir de la historia de
    compañeras!
  </h2>
  <!-- </div> -->
</div>
