<div class="podcast-home">
  <div class="wrapper">
    <div class="podcast-card">
      <div class="titulo">
        <span
          ><img src="{{'/imagenes/icono-auriculares.svg'}}" alt="Auriculares"
        /></span>
        <h2><em>Escucha nuestros</em> podcasts</h2>
      </div>
      <!-- Se cierra titulo -->
      <div class="imagen">
        <img
          src="{{'/imagenes/podcast-imagen-home.jpg'}}"
          alt="Escucha nuestros podcasts"
        />
        <a href="{{'/podcast/' | url }}"
          ><img src="{{'/imagenes/boton-play.svg'}}" alt=""
        /></a>
      </div>
      <!-- Se cierra la imagen -->
    </div>
    <!-- Se cierra el card -->
  </div>
  <!-- Se cierra el wrapper -->
</div>
<!-- Se cierra podcast home -->
