<div class="tipos-de-violencia-home">
  <div class="wrapper">
    <div class="titulo">
      <!-- <span class="textito">Conoce más sobre</span> -->
      <h2>
        <a href="{{'/violencia-de-genero/que-es.html' | url}}"
          ><em>Tipos de</em> violencia de género <em>en línea</em></a
        >
      </h2>
    </div>
    <!-- cierra titulo -->
    <div class="cards">
      <a
        href="{{'/violencia-de-genero/tipos-de-violencia.html' | url}}"
        class="card-tipos-de-violencia"
      >
        <div class="imagen">
          <img
            src="{{'/imagenes/13-tipos-imagen-home.jpg'}}"
            alt="13 tipos de violencia de género en línea"
          />
          <span class="boton-regular">Leer más</span>
        </div>
        <!-- cierra imagen -->
        <div class="texto">13 tipos de violencia de género en línea</div>
        <!-- cierra texto -->
      </a>
      <!-- cierra card -->
      <a
        href="{{'/violencia-de-genero/que-hacer.html' | url}}"
        class="card-tipos-de-violencia"
      >
        <div class="imagen">
          <img
            src="{{'/imagenes/que-hacer-imagen-home.jpg'}}"
            alt="Qué hacer cuando sucede"
          />
          <span class="boton-regular">Leer más</span>
        </div>
        <!-- cierra imagen -->
        <div class="texto">Qué hacer cuando sucede</div>
        <!-- cierra texto -->
      </a>
    </div>
    <!-- cierra card -->
  </div>
  <!-- cierra wrapper -->
</div>
<!-- cierra container principal -->
